<?xml version="1.0"?>
<page xmlns="http://projectmallard.org/1.0/" id="color.fg.green" type="topic" style="xslt-param"><info><link type="guide" xref="color" group="parameters"/><link type="guide" xref="parameters" group="color"/><revision version="3.28" date="2016-01-03" status="final"/><desc>A green text color.</desc></info><title>color.fg.green</title><p>A green text color.</p>
  
  
  <p>This parameter specifies a shade of green that is suitable for text. It should have a high color contrast against <code style="xslt-param" xref="color.bg">color.bg</code>. If not specified, it can be automatically computed based on <code style="xslt-param" xref="color.green">color.green</code> and <code style="xslt-param" xref="color.fg">color.fg</code>.</p>
</page>
