<?xml version="1.0"?>
<page xmlns="http://projectmallard.org/1.0/" id="db.biblio.id.key" type="topic" style="xslt-key"><info><link type="guide" xref="db-common" group="keys"/><link type="guide" xref="keys" group="db"/><revision version="3.18" date="2015-07-23" status="final"/><desc>Get a <code>biblioentry</code> or <code>bibliomixed</code> element from its <code>id</code>.</desc></info><title>db.biblio.id.key</title><p>Get a <code>biblioentry</code> or <code>bibliomixed</code> element from its <code>id</code>.</p>
  
  
  <p>This key returns <code>biblioentry</code> and <code>bibliomixed</code> elements based on their <code>id</code> or <code>xml:id</code> attributes. The {#id} attribute is used for DocBook 4, and the <code>xml:id</code> attribute is used for DocBook 5.</p>
</page>
