<?xml version="1.0"?>
<page xmlns="http://projectmallard.org/1.0/" id="db.chunk.depth-in-chunk" type="topic" style="xslt-template"><info><link type="guide" xref="db-chunk" group="templates"/><link type="guide" xref="templates" group="db"/><revision version="0.0" date="1970-01-01" status="stub"/><desc>Determines the depth of an element in the containing chunk.</desc></info><title>db.chunk.depth-in-chunk</title><p>Determines the depth of an element in the containing chunk.</p>
  
  
  <synopsis><title>Parameters</title><terms>
    <item>
      <title><code>node</code></title>
      <p>The element to determine the depth of</p>
    </item>
  </terms></synopsis>
  <comment><p>Explain how this works</p></comment>
<list style="compact"><title>Calls Parameters</title><item><p><link xref="db.chunk.max_depth"/></p></item></list></page>
