<?xml version="1.0"?>
<page xmlns="http://projectmallard.org/1.0/" id="db.profile.userlevel" type="topic" style="xslt-param"><info><link type="guide" xref="db-profile" group="parameters"/><link type="guide" xref="parameters" group="db"/><revision version="3.10" date="2013-08-12" status="final"/><desc>The list of user experience levels for conditional processing.</desc></info><title>db.profile.userlevel</title><p>The list of user experience levels for conditional processing.</p>
  
  
  <p>This parameter takes a semicolon-separated list of values to match against the <code>userlevel</code> attribute for conditional processing.</p>
</page>
