<?xml version="1.0"?>
<page xmlns="http://projectmallard.org/1.0/" id="html.content.post.mode" type="topic" style="xslt-mode"><info><link type="guide" xref="html" group="modes"/><link type="guide" xref="modes" group="html"/><revision version="3.28" date="2016-06-21" status="final"/><desc>Output content after the content of a page or section, before subsections.</desc></info><title>html.content.post.mode</title><p>Output content after the content of a page or section, before subsections.</p>
  
  
  <synopsis><title>Parameters</title><terms>
    <item>
      <title><code>page</code></title>
      <p>Whether the content is for a page.</p>
    </item>
  </terms></synopsis>
  <p>This mode is applied by <code style="xslt-template" xref="html.content.post">html.content.post</code> before calling <code style="xslt-template" xref="html.content.post.custom">html.content.post.custom</code>. Importing stylesheets can use this to add additional content for specific types of input elements after the content of a page or section, but before any subsections. If the <code style="xslt-param">page</code> parameter is true, then this template is being called on an output page. Otherwise, it is being called on a section within a page.</p>
</page>
