<?xml version="1.0"?>
<page xmlns="http://projectmallard.org/1.0/" id="html.content.pre.custom" type="topic" style="xslt-template"><info><link type="guide" xref="html" group="templates"/><link type="guide" xref="templates" group="html"/><link type="guide" xref="stubs" group="html"/><revision version="3.28" date="2016-06-21" status="final"/><desc>Stub to output content before the content of a page or section.</desc><stub xmlns="http://projects.gnome.org/yelp/xsldoc/"/></info><title>html.content.pre.custom</title><p>Stub to output content before the content of a page or section.</p><note><p>This template is a stub. Customizations may override it for
            additional functionality.</p></note>
  
  
  <synopsis><title>Parameters</title><terms>
    <item>
      <title><code>node</code></title>
      <p>The node a page or section is being created for.</p>
    </item>
    <item>
      <title><code>page</code></title>
      <p>Whether the content is for a page.</p>
    </item>
  </terms></synopsis>
  <p>This template is a stub, called by <code style="xslt-template" xref="html.content.pre.custom">html.content.pre.custom</code>. It is called before <code style="xslt-mode" xref="html.content.pre.mode">html.content.pre.mode</code> is applied. Override this template to provide site-specific HTML before the content of a page or section. If the <code style="xslt-param">page</code> parameter is true, then this template is being called on an output page. Otherwise, it is being called on a section within a page.</p>
</page>
