<?xml version="1.0"?>
<page xmlns="http://projectmallard.org/1.0/" id="mal2html.page.linktrails" type="topic" style="xslt-template"><info><link type="guide" xref="mal2html-page" group="templates"/><link type="guide" xref="templates" group="mal2html"/><revision version="3.4" date="2011-11-19" status="final"/><desc>Ouput trails of guide links for a page.</desc></info><title>mal2html.page.linktrails</title><p>Ouput trails of guide links for a page.</p>
  
  
  <synopsis><title>Parameters</title><terms>
    <item>
      <title><code>node</code></title>
      <p>The top-level <code>page</code> element.</p>
    </item>
  </terms></synopsis>
  <p>This template outputs all of the link trails for the page <code style="xslt-param">node</code>. It gets the trails from <code style="xslt-param">mal.link.linktrails</code>. If the result is non-empty, it outputs a wrapper <code>div</code>, sorts the trails, and calls <code style="xslt-template" xref="mal2html.page.linktrails.trail">mal2html.page.linktrails.trail</code> on each one. Otherwise, it calls the stub template <code style="xslt-template" xref="mal2html.page.linktrails.empty">mal2html.page.linktrails.empty</code>.</p>
<list style="compact"><title>Calls Templates</title><item><p><link xref="mal.link.linktrails"/></p></item><item><p><link xref="mal2html.page.linktrails.trail"/></p></item><item><p><link xref="mal2html.page.linktrails.empty"/></p></item></list></page>
