<?xml version="1.0"?>
<page xmlns="http://projectmallard.org/1.0/" id="mal2html.links.section" type="topic" style="xslt-template"><info><link type="guide" xref="mal2html-links" group="templates"/><link type="guide" xref="templates" group="mal2html"/><revision version="1.0" date="2011-06-15" status="final"/><desc>Output links to subsections.</desc></info><title>mal2html.links.section</title><p>Output links to subsections.</p>
  
  
  <synopsis><title>Parameters</title><terms>
    <item>
      <title><code>node</code></title>
      <p>The section <code>links</code> element.</p>
    </item>
    <item>
      <title><code>depth</code></title>
      <p>The depth level for the HTML header element.</p>
    </item>
  </terms></synopsis>
  <p>This template outputs links to the child sections of the <code>page</code> or <code>section</code> element containing <code style="xslt-param">node</code>.</p>
<list style="compact"><title>Calls Templates</title><item><p><link xref="mal2html.ui.expander.data"/></p></item></list><list style="compact"><title>Calls Modes</title><item><p><link xref="mal2html.block.mode"/></p></item></list></page>
